@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.modal-background-black {
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background-black-start {
  animation-name: opacityIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.modal-background-black-end {
  animation-name: opacityOut;
  animation-delay: .2s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@include keyframes(opacityIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(opacityOut) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.modal-container {
  & {
    border-radius: 10px;
    background-color: $off-white;
    max-width: 400px;
    padding: 40px;
    transform: scale(0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  &-start {
    animation-name: zoomOut;
    animation-delay: .3s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }
  &-end {
    animation-name: zoomIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }
}

@include keyframes(zoomOut) {
  0% { transform: scale(0); }
  80% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@include keyframes(zoomIn) {
  0% { transform: scale(1); }
  20% { transform: scale(1.2); }
  100% { transform: scale(0); }
}

.modal-title-text {
  @include body-large();
  color: $title-active-black;
  margin-bottom: 24px;
}

.modal-input {
  & {
    padding: 10px;
    @include body-medium();
    color: $title-active-black;
    width: 320px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 1px solid $line-grey;
  }
  &::placeholder{
    color: $placeholder-grey;
  }
  &:focus {
    outline: none;
    border: 1px solid $baemin-primary;
  }
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-cancel-text {
  & {
    color: $label-grey;
    cursor: pointer;
  }
  &-grey{
    color: $label-grey;
  }
  &-red{
    color: $baemin-error;
  }
  &-mint{
    color: $baemin-primary;
  }
}

.modal-submit-text {
  & {
    color: $baemin-primary;
    cursor: pointer;
  }
  &-grey{
    color: $label-grey;
  }
  &-red{
    color: $baemin-error;
  }
  &-mint{
    color: $baemin-primary;
  }
}

.modal-payment-color {
  &-container {
    width: 342px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &-selector {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0px 15px;
    transition-duration: .3s;
  }
  &-selector:hover {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    margin: -4px 11px;
  }
  &-selected {
    & {
      width: 28px;
      height: 28px;
      border-radius: 28px;
      margin: -4px 11px;
    }
    &.modal-payment-color-selector:first-child {
      margin-left: -4px;
    }
    &.modal-payment-color-selector:last-child {
      margin-right: -4px;
    }
  }
  &-selector:first-child {
    margin-left: 0px;
  }
  &-selector:last-child {
    margin-right: 0px;
  }
  &-selector:first-child:hover {
    margin-left: -4px;
  }
  &-selector:last-child:hover {
    margin-right: -4px;
  }
  &-red {
    background-color: $payment-red;
    border: 1px solid darken($payment-red, 10%);
  }
  &-orange {
    background-color: $payment-orange;
    border: 1px solid darken($payment-orange, 10%);
  }
  &-yellow {
    background-color: $payment-yellow;
    border: 1px solid darken($payment-yellow, 10%);
  }
  &-green {
    background-color: $payment-green;
    border: 1px solid darken($payment-green, 10%);
  }
  &-blue {
    background-color: $payment-blue;
    border: 1px solid darken($payment-blue, 10%);
  }
  &-purple {
    background-color: $payment-purple;
    border: 1px solid darken($payment-purple, 10%);
  }
  &-grey {
    background-color: $payment-grey;
    border: 1px solid darken($payment-grey, 10%);
  }
}

.modal-login-button {
  & {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 40px;
    border-radius: 8px;

    background: #FCFCFC;
    border: 1px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  & > img {
    width: 24px;
    object-fit: contain;
    margin-right: 10px;
  }
}