@import '../../pages/color';
@import '../../pages/size';

.input-bar-background {
  position: absolute;
  top: 152px;
  left: 50%;
  transform: translateX(-50%);
  width: 904px;
  height: 76px;
  border: 1px solid #c1c5c5;

  @include box-shadow();
  border-radius: 10px;
  background-color: $off-white;
  padding: 16px 32px 16px 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-bar-vertical-line {
  width: 0px;
  height: 100%;
  border: 0.5px solid $placeholder-grey;
  margin-left: 24px;
  margin-right: 24px;
}

.input-bar-section {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &.date-section {
    width: 80px;
  }
  &.classification-section {
    width: 100px;
    position: relative;
  }
  &.payment-section {
    width: 100px;
    position: relative;
  }
  &.contents-section {
    width: 170px;
  }
  & > p {
    color: $baemin-primary;
    @include body-xsmall();
    line-height: 17px;
    margin-bottom: 4px;
    width: 100px;
  }

  & input {
    @include body-regular();
    color: $title-active-black;
    width: 100%;
    border: none;
    background-color: $off-white;
  }
  & input::placeholder {
    color: $label-grey;
  }
  & input:focus {
    outline: none;
    border: none;
  }
}

.input-bar-price-input {
  & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  & > input {
    margin-left: 8px;
    margin-right: 8px;
    width: 80px;
  }
  & > input::placeholder {
    text-align: right;
  }
}

.input-bar-toggle-sign-container {
  & {
    width: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  & > div:first-child {
    margin-right: 6px;
  }
}

.input-bar-toggle-selected {
  & {
    width: 16px;
    height: 16px;
    border-radius: 3.6px;
    background-color: $baemin-third;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  & > p {
    font-size: 16px;
    line-height: 16px;
    color: $off-white;
  }
}

.input-bar-toggle-non-selected {
  & {
    width: 16px;
    height: 16px;
    border-radius: 3.6px;
    background-color: $off-white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  & > p {
    font-size: 16px;
    line-height: 16px;
    color: $baemin-third;
  }
}

.input-bar-dropdown-section {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding-top: 4px;
    cursor: pointer;
  }
}

.input-bar-save-container {
  width: 40px;
  height: 40px;
  margin: 2px 0px 2px 24px;
  .input-bar-save-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
  }
}
