@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.header-container {
  width: 100%;
  height: 194px;
  background-color: $baemin-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-contents-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-text {
  color: $off-white;
  @include display-small();
  cursor: pointer;
}

.header-total-date-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-total-date-container button {
  width: 24px;
  height: 24px;
}

.header-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 44px 0px 44px;
}

.header-date-month {
  color: $off-white;
  @include display-large()
}

.header-date-year {
  color: $off-white;
  @include display-small()
}

.header-nav-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-nav-container button{
  margin-left: 10px;
}