@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.header-container {
  width: 100%;
  height: 194px;
  position: relative;
  background-color: $baemin-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-contents-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-text {
  color: $off-white;
  @include display-small();
  cursor: pointer;
}

.header-total-date-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-total-date-container button {
  width: 24px;
  height: 24px;
}

.header-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  margin: 0px 44px 0px 44px;
}

.header-date-month {
  color: $off-white;
  @include display-large();
}

.header-date-year {
  color: $off-white;
  @include display-small();
}

.date-rotate-transform {
  animation-name: rotateNumber;
  animation-duration: .3s;
  animation-duration: ease-in-out;
}

@include keyframes(rotateNumber) {
  0% { transform: rotate3d(1, 0, 0, 0deg); opacity: 1; }
  25% { transform: rotate3d(1, 0, 0, 180deg) }
  50% { transform: rotate3d(1, 0, 0, 0deg);}
  75% { transform: rotate3d(1, 0, 0, 180deg) }
  100% { transform: rotate3d(1, 0, 0, 0deg); opacity: 0.3; }
}

.header-nav-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-nav-container button{
  margin-left: 10px;
}

.header-nav-container>div:first-child{
  margin-left: -10px;
}

.header-nav-profile-image {
  & {
    margin-right: -30px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & > img {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 2px solid $baemin-third;
    cursor: pointer;
  }
  & > p {
    @include bold-small();
    color: $background-white;
  }
}