@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.button-text {
  &-white {
    color: $off-white;
  }
  &-mint {
    color: $baemin-primary;
  }
  &-white {
    color: $off-white;
  }
  &-small {
    @include body-small();
  }
  &-regular {
    @include body-regular();
  }
  &-medium {
    @include body-medium();
  }
  &-large {
    @include body-large();
  }
}

.button-background {
  &-transparent {
    background-color: rgba(0,0,0,0);
  }
  &-white {
    background-color: $off-white;
  }
  &-white:hover {
    background-color: darken($off-white, 10%);
  }
  &-mint {
    background-color: $baemin-primary;
  }
  &-mint:hover {
    background-color: $baemin-third;
  }
}

.button-default {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  transition-duration: .2s;
}