@import '../color';
@import '../size';

.main-contents-container {
  padding: 112px calc(50% - 424px) 130px calc(50% - 424px);
}

.main-totop-button {
  & {

  position: fixed;
  right: 100px;
  bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $baemin-primary;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  }
  & > img {
    height: 26px;
    object-fit: contain;
  }
}

.main-empty-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.main-empty-text{ 
  &-first{
    @include display-large();
    margin-right: 12px;
    transform: scale(2);
    animation-name: textLarger;
    animation-duration: 1s;
    transform-origin: center;
    animation-fill-mode: forwards;
  }
  &-second {
    @include display-large();
  }
}

@keyframes textLarger {
  0%{
    margin-right: 12px;
    transform: scale(1);
  }
  70%{
    margin-right: 26px;
    transform: scale(2.2);
  }
  80%{
    margin-right: 26px;
    transform: scale(2.2) rotate(30deg);
  }
  90%{
    margin-right: 24px;
    transform: scale(2) rotate(-30deg);
  }
  100%{
    margin-right: 24px;
    transform: scale(2);
  }
}