@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.drop-down-container {
  border: 1px solid $line-grey;
  border-radius: 10px;
  z-index: 20;
  position: absolute;
  overflow: hidden;
  top: 64px;
  left: -24px;
}

.drop-down-animator {
  &-down {
    animation-name: pullingDown;
    animation-duration: .5s;
  }
  &-up {
    animation-name: pullingUp;
    animation-duration: .5s;
  }
}

@include keyframes(pullingDown) {
  0% { margin-top: -400px; }
  100% { margin-top: 0px; }
}

@include keyframes(pullingUp) {
  0% { margin-top: 0px; }
  100% { margin-top: -400px; }
}