@import '../../pages/color';
@import '../../pages/size';
@import '../../pages/reset';

.category-drop-down-container {
  border: 1px solid $line-grey;
  border-radius: 10px;
  z-index: 20;
  position: absolute;
  overflow: hidden;
  top: 64px;
  left: -24px;
}

.payment-drop-down-container {
  border: 1px solid $line-grey;
  border-radius: 10px;
  z-index: 20;
  position: absolute;
  overflow: hidden;
  top: 64px;
  left: -40px;
}